/.idea/.gitignore
/.idea/data-engineer-2023-05.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/sonarlint/
/**/.idea/
/neo4j/data/databases/graph.db/neostore
/neo4j/data/databases/graph.db/neostore.counts.db.a
/neo4j/data/databases/graph.db/neostore.id
/neo4j/data/databases/graph.db/neostore.labelscanstore.db
/neo4j/data/databases/graph.db/neostore.labeltokenstore.db
/neo4j/data/databases/graph.db/neostore.labeltokenstore.db.id
/neo4j/data/databases/graph.db/neostore.labeltokenstore.db.names
/neo4j/data/databases/graph.db/neostore.labeltokenstore.db.names.id
/neo4j/data/databases/graph.db/neostore.nodestore.db
/neo4j/data/databases/graph.db/neostore.nodestore.db.id
/neo4j/data/databases/graph.db/neostore.nodestore.db.labels
/neo4j/data/databases/graph.db/neostore.nodestore.db.labels.id
/neo4j/data/databases/graph.db/neostore.propertystore.db
/neo4j/data/databases/graph.db/neostore.propertystore.db.arrays
/neo4j/data/databases/graph.db/neostore.propertystore.db.arrays.id
/neo4j/data/databases/graph.db/neostore.propertystore.db.id
/neo4j/data/databases/graph.db/neostore.propertystore.db.index
/neo4j/data/databases/graph.db/neostore.propertystore.db.index.id
/neo4j/data/databases/graph.db/neostore.propertystore.db.index.keys
/neo4j/data/databases/graph.db/neostore.propertystore.db.index.keys.id
/neo4j/data/databases/graph.db/neostore.propertystore.db.strings
/neo4j/data/databases/graph.db/neostore.propertystore.db.strings.id
/neo4j/data/databases/graph.db/neostore.relationshipgroupstore.db
/neo4j/data/databases/graph.db/neostore.relationshipgroupstore.db.id
/neo4j/data/databases/graph.db/neostore.relationshipstore.db
/neo4j/data/databases/graph.db/neostore.relationshipstore.db.id
/neo4j/data/databases/graph.db/neostore.relationshiptypestore.db
/neo4j/data/databases/graph.db/neostore.relationshiptypestore.db.id
/neo4j/data/databases/graph.db/neostore.relationshiptypestore.db.names
/neo4j/data/databases/graph.db/neostore.relationshiptypestore.db.names.id
/neo4j/data/databases/graph.db/neostore.schemastore.db
/neo4j/data/databases/graph.db/neostore.schemastore.db.id
/neo4j/data/databases/graph.db/neostore.transaction.db.0
/neo4j/data/databases/store_lock
/neo4j/data/dbms/auth
/neo4j/data/dbms/auth.ini
/neo4j/logs/debug.log
